/*==================================== Обнуление ==================================*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/* ======================= */
a {
    text-decoration: none;
    color: black;
}
/* ======================= */
ul,
ol,
li {
    list-style: none;
}
/* ======================= */
html,
body {
    height: 100%;
    line-height: 1.733333;
    font-size: 14px;
    background-color: #dfdfdf;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-weight: 500;
    overflow-x: hidden;
    /* min-height: 3000px; */
}
/* ====================== */
._container {
    max-width: 1024px;
    margin: 0 auto;
    /* Чтобы наш контейнер выстроился ровно по средине и был с максимальной шириной 1046px */
    /* мерджин 0 авто выстроит любой блочный блок ровно по средине */
    padding: 0 15px;
    box-sizing: content-box;
    /* Если ширина 100% то весь контент помещается внутрь, таким образом идет выравниване по контенту */
}
/* ==================Шапка================ */
/* ============HEADER======= */
header{
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 50;
}
.header{
    background-color: #5c5c5ca1;
    display: flex;
    flex-direction: row;
    border-radius: 0px 0px 15px 15px;
}
/* =======LOGO========= */
.header-logo img{
    height: 60px;
}
.header-logo {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
/* ==========NAV======= */
.header-nav {
    align-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    width: 100%;
}
.header-nav nav {
    margin-left: auto;
    margin-right: auto;
}
.header-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header-nav li {
    padding: 17px;
}
.header-nav a {
    font-size: 14px;
    font-weight: 700;
    color: white;
}
/* =======CONTACT======= */
.header-contacts div {
    margin-top: 20px;
    min-width: 160px;
}
.header-contacts button{
    background-color: rgb(147 98 84);
    padding: 12px 18px;
    border-radius: 15px;
}
.header-contacts button:hover{
    background-color: rgb(105, 70, 61);
    cursor: pointer;
}
.header-contacts a {
    color: white;
    font-weight: 600;
}

/* ============hiden-contact-form =========================================== */
.hiden-contact-form{
    position: absolute;
    z-index: 49;
    width: 100%;
    height: 100%;
    display: none;
    background-image: linear-gradient(#535151de, rgb(82, 69, 63), rgba(53, 41, 37, 0.979));
}

.hiden-contact-form_main-block {
    border-radius: 15px;
    padding: 15px;
    background-image: linear-gradient(#797979, rgb(110, 98, 93), rgb(77, 43, 31));
    border-radius: 15px;
    width: 50%;
    margin-top: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-0%, 20%);
    box-shadow: 20px 25px 25px rgb(29, 15, 10);
}
@media (max-width:500px) {
    .hiden-contact-form_main-block {
        width: 80%;
    }
}

.hiden-contact-form_main-block h1 {
    text-align: center;
    margin-bottom: 10px;
}

.hiden-contact-form_main-block form {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
}

.hiden-contact-form_main-block form *:not(:last-child) {
    font-size: 18px;
    padding: 3px 7px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(199 180 194);
    color: rgb(0, 0, 0);
}

.hiden-contact-form_main-block form .X {
    position: absolute;
    color: rgb(49, 42, 42);
    font-size: 25px;
    font-weight: 600;
    padding: 0 8px 4px;
    right: -16px;
    top: -19px;
    border: 1px solid rgb(49, 42, 42) ;
    line-height: normal;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
}

.hide-contact-btn {
    cursor: pointer;
}

/* ================================= */
/* ============================Основная часть================================ */
/* ======background main======== */
.main {
    position: relative;
    height: 600px;
    min-width: 100%;
    background-image: url(../img/main/main_bg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
@media (min-width:1440px) {
    .main{
        background-size: contain;
    }
}

/* =====Главный офер====== */
.main-offer_block {
    position: absolute;
    width: 530px;
    top: 130px;
    left: 50%;
    padding: 20px 20px 36px 20px ;
    background-color: #2c2c2cb6;
    border-radius: 15px;
}
@media (max-width:1000px) {
    .main-offer_block{
        left: 24%;
    }
}
@media (max-width:770px) {
    .main-offer_block{
        width: 100%;
        left: 0%;
    }
}
/* =========Текст======== */
.main-offer_block h1 {
    font-size: 48px;
    line-height: normal;
    color: white;
    text-align: center;
}
.main-offer_block p{
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}
/* ==========Кнопки======= */
.main-offer_block-buttons {
    position: absolute;
    left: 7%;
    margin-top: 7px;
}

.main-offer_block-buttons button{
    background-color: rgb(147 98 84);
    padding: 15px 28px;
    border-radius: 25px;
}
.main-offer_block-buttons button:hover{
    background-color: rgb(105, 70, 61);
}
/* ========первая кнопка======== */
.main-offer_block-buttons button:first-child {
    margin-right: 15px;
}
@media (max-width:500px) {
    .main-offer_block-buttons button:first-child{
        margin-bottom: 15px;
    }
}
/* ========ссылки в кнопках====== */
.main-offer_block-buttons a {
    color: white;
    font-weight: 600;
    font-size: 20px;
}
/* =========================================================== */
/* =========Что мы делаем=================== */
.services h1{
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
}
/* =========основной блок========== */
.services-main_block {
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(rgb(141 137 128), rgb(169 163 161 / 78%), rgb(180 129 98));
    border-radius: 15px;
    display: flex;
    margin-bottom: 20px;
}
@media (max-width:855px) {
    .services-main_block {
        display: block;
    }
}
/* =========services-card================ */
.services-card {
    margin: 2%;
    padding: 3% 1% 0 2%;
    max-width: 29%;
    border: solid 2px rgb(41, 41, 41);
    border-radius: 15px;
    background-repeat:no-repeat;
    background-size:cover;
    box-shadow: 10px 5px 5px rgb(71, 71, 71);
}
.services-landing {
    background-image:linear-gradient(1deg,rgba(0, 0, 0, 0.363),rgba(0, 0, 0, 0.466)), url(../img/services/card1.jpg);
}
.services-im{
    background-image:linear-gradient(1deg,rgba(0, 0, 0, 0.363),rgba(0, 0, 0, 0.466)), url(../img/services/card2.jpg);
}
.services-korp{
    background-image:linear-gradient(1deg,rgba(0, 0, 0, 0.363),rgba(0, 0, 0, 0.466)), url(../img/services/card3.jpg);
}
@media (max-width:855px){
    .services-card {
        max-width: 80%;
        margin: 0 auto 8%;
    }
}
/* =======текстовый блок======= */
.services-card h3{
    color: white;
    text-align: center;
    font-weight: 700;
}
.services-card p{
    color: white;
    padding: 3px;
}
/* ========блок цены========= */
.services_price {
    color: white;
    text-align: center;
    margin-top: 15px;
}
.services_button{
    background-color: rgb(147 98 84);
    padding: 12px 18px;
    margin: 0 25px 0 25px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    top: 15px;
    box-shadow: 10px 15px 5px rgb(17, 17, 17);
}
.services_button:hover{
    background-color: rgb(105, 70, 61);
}
.services_button a {
    color: white;
    font-weight: 600;
}
/* ============================Етапы========================================= */
.etaps {
    background-image: url(../img/etaps/bg_etaps.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    padding-bottom: 2%;
    margin-top: 3%;
}

.etaps h1 {
    padding: 10px 0 20px 0;
    text-align: center;
    font-weight: 800;
    font-size: 46px;
}
@media (max-width:1345px) {
    .etaps {
        background-image:linear-gradient(1deg,rgba(0, 0, 0, 0.363),rgba(0, 0, 0, 0.466)), url(../img/etaps/bg_etaps.jpg);
    }
    .etaps h1 {
        color: white;
    }
}

.etaps_main-block {
    position: relative;
    width: 100%;
    height: 100%;
}

.etaps-card {
    background-color: rgba(179, 199, 211, 0.623);
    border: 3px solid silver;
    max-width: 29%;
    margin: 1%;
    padding: 0.8% 1.5%;
}
.etaps-card2{
    position: relative;
    left: 34%;
}
.etaps-card3{
    position: relative;
    left: 68%;
}
@media (max-width:555px) {
    .etaps-card {
        max-width: 90%;
        margin: 0 auto;
    }
    .etaps-card2, .etaps-card3{
        left: 0%;
        margin-top: 2%;
    }
}
/* ==============================idea================================== */
.idea {
    border: 3px solid #8c4738;
    border-radius: 30px;
    padding: 10px 10px 10px;
    margin: 30px 0;
}

.idea_container {
    position: relative;
    display: flex;
}
/* ========text=========== */
.idea_text {
    margin-right: auto;
}
.idea_text h1 {
    font-size: 40px;
    color: #1a1632;
}
.idea_text p{
    font-size: 16px;
    color: #1a1632;
    padding: 5px 0;
}
/* =========btn========== */
.idea_button a {
    color: white;
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(147 98 84);
    padding: 20px 40px;
    border-radius: 40px;
    text-align: center;
}
.idea_button {
    height: 100%;
    top: 50px;
    position:relative;
}
@media (max-width:700px) {
    .idea_button a {
        padding: 10px 20px;
        font-weight: 500;
    }
    .idea_text p {
        font-size: 14px;
    }
    .idea_text h1 {
        font-size: 30px;
        line-height: normal;
    }
    .idea_text {
        max-width: 50%;
    }
}
@media (max-width:460px){
    .idea {
        padding: 0px;
        margin-top: 10px;
    }
    .idea_container {
        display: block;
    }
    .idea_button {
        left: 30%;
        top: 50%;
        transform: translate(-0%, 70%);
    }
    .idea_text {
        max-width: 100%;
        text-align: center;
    }
}
@media (max-width:380px){
    .idea_button {
        left: 25%;
    }
}
@media (max-width:322px){
    .idea_button {
        left: 20%;
    }
}
/* ================================footer=================================== */
footer {
    display: flex;
    background-image: linear-gradient(#dfdfdf, rgb(242 212 185), rgb(198 124 94));
}

/* ===================footer-form=========== */
.footer-form{
    width: 50%;
    padding: 20px 70px 20px;
}
.footer-form h1 {
    text-align: center;
    margin-bottom: 10px;
}
/* ======================== */
.footer-form form {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
}
.footer-form form *:not(:last-child) {
    font-size: 18px;
    padding: 3px 7px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(199 180 194);
    color: rgb(0, 0, 0);
}
/* ======================= */
.footer-input_name{
    width: 49%;
    margin: 0 2% 5px 0;
}
.footer-input_phone{
    width: 49%;
    margin-bottom: 5px;
}
.footer-input_email{
    width: 100%;
    margin-bottom: 5px;
}
.footer-textarea {
    width: 100%;
    margin-bottom: 15px;
    resize: none;
    min-height: 130px;
}
/* ===================== */
.footer-button{
    background-color: rgb(147 98 84);
    padding: 12px 18px;
    border: 2px solid #8c4738;
    border-radius: 15px;
    text-align: center;
}
.footer-button a {
    padding: 12px 18px;
    color: #eeede7;
    font-size: 16px;
    font-weight: 600;
}
@media (max-width:1345px) {
    footer{
        background-image: linear-gradient(#dfdfdf, rgb(242 212 185), rgb(123 64 40));
    }
    .footer-button{
        background-color: rgb(189, 68, 34);
    }
}
/* =============footer_contacts================= */
.footer_contacts{
    width: 50%;
    padding: 20px 50px 50px;
}
.footer_contacts h1 {
    text-align: center;
    margin-bottom: 10px;
}
/* ================== */
.footer_contacts img {
    max-height: 50px;
}
.footer_contacts-card div{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}
.footer_contacts-card span {
    font-size: 19px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    margin-left: 15px;
    font-weight: 600;
}
/* ================contacts_sticky================ */
.contacts_sticky {
    position: fixed;
    top: 98%;
    left: 98%;
    transform: translate(-100%, -100%);
    z-index: 50;
}

@media (max-width:770px) {
    footer {
        flex-wrap: wrap;
    }
    .footer-form{
        width: 100%;
    }
    .footer_contacts{
        width: 100%;
    }
}

@media (max-width:460px){
    .footer-input_name{
        width: 100%;
        margin: 0 0 5px 0;
    }
    .footer-input_phone{
        width: 100%;
        margin: 0 0 5px 0;
    }
    .footer-form{
        padding: 20px 20px 20px;
    }
    .footer_contacts{
        padding: 20px 20px 20px;
    }
}