/*==================================== Обнуление ==================================*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/* ======================= */
a {
    text-decoration: none;
    color: black;
}
/* ======================= */
ul,
ol,
li {
    list-style: none;
}
/* ======================= */
img {
    vertical-align: top;
}
/* ======================= */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
/* ====================== */
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #fafafa;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-weight: 500;
    min-height: 3000px;
}
/* ==================== */
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
/* ==================== */
._container {
    max-width: 1024px;
    margin: 0 auto;
    /* Чтобы наш контейнер выстроился ровно по средине и был с максимальной шириной 1046px */
    /* мерджин 0 авто выстроит любой блочный блок ровно по средине */
    padding: 0 15px;
    box-sizing: content-box;
}

/*==================================== Шапка ==================================*/

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
/* ================== */
.header__container {
    display: flex;
    flex-direction: row;
    line-height: 80px;
    background-color: #5c5c5ca1;
    border-radius: 0 0 15px 15px;
}

/* =======================img-logo============== */
.heder__logo_img {
    height: 80px;
    padding-top: 10px;
    margin-left: 10px;
}
/* ===================================== */
.heder__menu {
    margin: 0px 0px 0px 10%;
}

/* ==================== */

.menu {
    padding: 5px 0;
    margin-right: 10%;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item:not(:last-child) {
    margin: 0 20px 0 0px;
}
/* ==================== */
.menu__link {
    color: rgb(255 255 255);
    font-weight: 600;
    font-size: 15px;
    line-height: calc(24 / 14 * 100%);
    /* Высота макета делится на размер шрифта и умножается на 100% и мы получим высоту строки (высоту шрифта задаем с помощью font-size) */
}

/* ======================================== */
.header_button{
    margin-top: 25px;
    padding: 0 20px;
    height: 40px;
    border-radius: 8px;
    background-color: #030054;
}
.header_button:hover{
    cursor: pointer;
    background-color: #050088;
}
/* ==================== */
.button__text{
    color: aliceblue;
}
/* =======================================main=============================================== */
.main-block {
    position: relative;
}
/* ======================= */
.main-block__body {
    position: relative;
    left: 48%;
    top: 150px;
    z-index: 2;
    max-width: 54%;
    background-color: #2c2c2cb6;
    padding: 20px 20px 50px 20px;
    border-radius: 15px;
}
/* ================================================= */
.main-block__title {
    font-size: 48px;
    line-height: calc(80 / 58 * 100%);
    font-weight: 800;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 0 15px 0;
    color: #fafafa;
}
/* ====================== */

.main-block__text {
    color: rgb(255 255 255);
    font-size: 20px;
    font-weight: 600;
    line-height: calc(30/20*100%);
}
/* ======================= buttons =========================*/
.main-block__buttons {
    position: relative;
    left: 53%;
    top: 125px;
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    z-index: 4;
}

.main-block__button {
    border-radius: 37px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2px;
    margin: 10px 17px;
}

.main-block__button_orange{
    color: #FFFFFF;
    background: #e4612d;
}

/* ================================================ */
.main-block_image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
}

.main-block_image img {
    max-width: 100%;   
}
/* ============================================== */
.page-null{
    position: relative;
    min-height: 400px;
}
/* ===========================================services-block====================================== */

.services-block {
    position: relative;
}
/* ==================== */
.services-block__title {
    font-size: 48px;
    line-height: calc(80 / 58 * 100%);
    font-weight: 800;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 0 15px 0;
    color: #000000;
}
/* =================== */
.services-block__body{
    /* border: solid 3px rgb(16, 32, 0); */
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    z-index: 5;
    background-image: linear-gradient(rgba(255, 255, 255, 0.753), rgba(124, 128, 118, 0.336), rgb(29, 29, 29));
}
/* ================== */
.services-block__card{
    border: solid 2px rgb(41, 41, 41);
    border-radius: 15px;
    padding: 30px;
    min-height: 400px;
    width: 289px;
    z-index: 3;
    position: relative;
    box-shadow: 10px 5px 5px rgb(71, 71, 71);
    /* display: flex;
    flex-wrap: wrap; */
}
.services-block__card:not(:last-of-type){
    margin-right: 30px;
}
/* ================== */
.services-block__card-title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    height: 45px;
    width: 100%;
    margin: 0 0 0px 0;
    color: #FFFFFF;
}
/* ================== */
.services-block__card-text{
    font-weight: 600;
    padding: 3px;
    border-radius: 5px;
    height: 225px;
    color: #000000;
    font-size: 16px;
    box-shadow: inset 20em 20em rgba(179, 179, 179, 0.459);
}
/* ================== */
.services-block__card-price{
    color: #FFFFFF;
    position: relative;
    top: 20px;
    width: 100%;
    text-align: center;
}
/* ================== */
.services-block__card_img-landing {
    position: absolute;
    right: -1px;
    bottom: -1px;
    height: 415px;
    z-index: -1;
    border-radius: 15px;
    opacity: 0.9;
    width: 287px;
}
/* ================== */
.services-block__button {
    border-radius: 37px;
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    padding: 5px 36px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.2px;
    margin: 10px 17px;
    color: #FFFFFF;
    background: #e4612d;
    position: relative;
    top: 15px;
}
/* ====================================etaps-block==================== */
.etaps-block_image {
    position: relative;
    height: 100%;
    top: 0px;
    z-index: 0;
}
.etaps-block_image img {
    width: 100%;
    opacity: 0.8;
}
/* =================== */
.etaps-block__title{
    font-size: 48px;
    line-height: calc(80 / 58 * 100%);
    font-weight: 800;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 0 15px 0;
    color: #1d1c1c;
    position: relative;
    top: 120px;
    z-index: 3;
}
/* =================== */
.etaps-block__container {
    position: relative;
}
/* ==================== */
.etaps-block__body {
    position: absolute;
    z-index: 5;
    top: 100px;
}
/* ==================== */
.etaps-block__card-title{
    font-size: 25px;
}
.etaps-block__card-text {

}
/* =================== */
.etaps-block__card {
    width: 30%;
    margin: 1.5%;
    padding: 20px;
    border: 5px solid snow;
    background-color: #ffffffe0;
}
.etaps-block__card_2 {
    position: relative;
    left: 33%;
}
.etaps-block__card_3 {
    position: relative;
    left: 66%;
}